@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
    --cor-1: #3d5a84;
    --cor-2: #4880c1;
    --cor-3: #fff;

    --mesa-livre: chocolate;
    --mesa-block: gray;
    --mesa-parcial: green;
}

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    /* border: none; */
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mapa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.item {
    width: calc(100% / 6);
    float: left;
    text-align: center;
}

.livre {
    background-color: var(--mesa-livre);
    padding: 5px;
    border-radius: 50%;
    color: #fff;
}

.block {
    background-color: var(--mesa-block);
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    cursor: not-allowed;
}

.parcial {
    background-color: var(--mesa-parcial);
    padding: 5px;
    border-radius: 50%;
    color: #fff;
}

.hidden {
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    cursor: default;
}

.apagado {
    display: none;
}